In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Oil_Spill_Sab_Data_Niger_Delta-_2010-2020.csv')

In [3]:
data.shape

(6798, 17)

In [4]:
data.head()

,ID,Company,Incident_date,Days_of_the_Wk,Months_of_the_Yr,Years,Contaminant,Type_of_fa,Cause,Site_locat,Latitude,Longitude,LGA,States_affected,Spill_area,MoY,DoW
0,1,SPDC,2010-01-03,Sun,Jan,2010,cr,,sab,"12"" IMR-EBUBU T/L AT KOMKOM",4.878083,7.172556,Oyigbo,RI,la,1,1
1,2,SPDC,2010-01-03,Sun,Jan,2010,cr,,sab,"8"" ISIMIRI D/L AT ISIMIRI",4.878194,7.230583,Ukwa West,AB,sw,1,1
2,3,NAOC,2010-01-05,Tue,Jan,2010,cr,,sab,"24"" OGODA/BRASS P/L ODAU",4.833556,6.498889,Abua-Odual,RI,la,1,3
3,4,SPDC,2010-01-05,Tue,Jan,2010,cr,,sab,Kokori d\L,5.597444,6.068583,Ughelli-North,DE,la,1,3
4,5,NAOC,2010-01-06,Wed,Jan,2010,cr,,sab,"18"" TEBIDABA/BRASS P/L AT OGONIGBENE 1 M8 RISER",4.474889,6.127833,Brass,BY,sw,1,4

In [5]:
data.tail()

,ID,Company,Incident_date,Days_of_the_Wk,Months_of_the_Yr,Years,Contaminant,Type_of_fa,Cause,Site_locat,Latitude,Longitude,LGA,States_affected,Spill_area,MoY,DoW
6793,6794,SPDC,2020-12-26,Sat,Dec,2020,,pl,sab,"12""Oguta-Egbema pipeline@ Eziorsu",5.617620,6.758370,Ohaji/Egbema,IM,la,12,7
6794,6795,SPDC,2020-12-29,Tue,Dec,2020,cr,pl,sab,"18"" Assa-Rumuekpe P/L ROW @ Ohaji-Egbema in Im...",5.288020,6.781340,Ohaji/Egbema,IM,la,12,3
6795,6796,SPDC,2020-12-29,Tue,Dec,2020,cr,pl,sab,"18"" Assa-Rumuekpe P/L Ochia @ Ohaji/Egbema in ...",5.345820,6.794620,Ohaji/Egbema,IM,la,12,3
6796,6797,SPDC,2020-12-29,Tue,Dec,2020,cr,pl,sab,"14"" Okordia-Rumuekpe Trunk Line @ Akinima",5.129826,6.473528,Yenagoa,BY,ss,12,3
6797,6798,SPDC,2020-12-30,Wed,Dec,2020,no,pl,sab,20'' TEP @ OTUMARA,5.646222,5.147253,Warri-South-West,DE,sw,12,4

In [6]:
data.columns

Index(['ID', 'Company', 'Incident_date', 'Days_of_the_Wk', 'Months_of_the_Yr',
       'Years', 'Contaminant', 'Type_of_fa', 'Cause', 'Site_locat', 'Latitude',
       'Longitude', 'LGA', 'States_affected', 'Spill_area', 'MoY', 'DoW'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6798 entries, 0 to 6797
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                6798 non-null   int64
 1   Company           6798 non-null   object
 2   Incident_date     6798 non-null   object
 3   Days_of_the_Wk    6798 non-null   object
 4   Months_of_the_Yr  6798 non-null   object
 5   Years             6798 non-null   int64
 6   Contaminant       6798 non-null   object
 7   Type_of_fa        6798 non-null   object
 8   Cause             6798 non-null   object
 9   Site_locat        6798 non-null   object
 10  Latitude          6798 non-null   float64
 11  Longitude         6798 non-null   float64
 12  LGA               6798 non-null   object
 13  States_affected   6798 non-null   object
 14  Spill_area        6798 non-null   object
 15  MoY               6798 non-null   int64
 16  DoW               6798 non-null   int64
dtypes: float64(2), int64(4), object(11)
memory usage: 903.0+ KB

## Our target would be the LGA

In [8]:
for i in data.columns:
    if data[i].dtype == 'object':
        print(f"       COLUMN:   {i}")  
        
        print("==================================")
        print(" ")
        print(data[i].value_counts())

        print(" ")
        print("___________________________________")

       COLUMN:   Company
==================================

NAOC                          4026
SPDC                          1912
NPDC                           197
PPMC                           129
CHEVRON                        115
EROTON E&P                      78
HERITAGE                        66
TOTAL                           46
SEPLAT                          35
FIRST                           34
NDWEST                          32
AITEO E&P                       29
ADDAX                           19
MIDWESTERN                      17
ERL                             17
POOCN                           16
NDPR                             8
PLATFORM                         6
PLATFORM PETROLEUM LIMITED       6
SEEPCO                           3
MILLENNIUM O&G                   2
NECONDE                          2
SAHARA                           1
MPN                              1
NEWCROSS E&P                     1
Name: Company, dtype: int64

___________________________________
       COLUMN:   Incident_date
==================================

2013-03-22    39
2019-01-16    20
2011-10-31    16
2015-05-20    16
2011-08-27    13
              ..
2013-09-15     1
2018-12-03     1
2011-12-16     1
2018-05-11     1
2012-01-18     1
Name: Incident_date, Length: 2706, dtype: int64

___________________________________
       COLUMN:   Days_of_the_Wk
==================================

Wed    1091
Tue    1005
Mon    1005
Fri    1003
Thu     963
Sun     880
Sat     851
Name: Days_of_the_Wk, dtype: int64

___________________________________
       COLUMN:   Months_of_the_Yr
==================================

May    732
Jan    613
Aug    607
Nov    606
Jul    580
Mar    566
Jun    565
Feb    523
Dec    521
Oct    512
Apr    502
Sep    471
Name: Months_of_the_Yr, dtype: int64

___________________________________
       COLUMN:   Contaminant
==================================

cr                                       5057
                                          661
ga                                        332
no                                        255
co                                        180
gs                                        169
other:                                     59
CON                                        25
re                                         19
other:non                                   3
ch                                          3
crude oil                                   2
other: NONE                                 2
NLP                                         2
Diesel                                      2
other: Non leaking                          1
other:Burnt Gas                             1
other: Oily Water                           1
NON LEAKING                                 1
other: water-leak                           1
Produce water                               1
Crude                                       1
other                                       1
other: water leak                           1
other: Produce water                        1
other: oily wt                              1
other:Land/Manifold hardstand surface       1
other:water                                 1
other:WATER FROM OIL PIPELINE               1
NIL                                         1
other: Locally constructed boom             1
other: depresion                            1
other: gaseous emision                      1
other:NA                                    1
other:alleged pollution                     1
other:NONE-LEAK                             1
co, ga                                      1
other: nil                                  1
gas                                         1
Asset Damage                                1
boom                                        1
other: (fire)                               1
Name: Contaminant, dtype: int64

___________________________________
       COLUMN:   Type_of_fa
==================================

pl                      3192
                        2093
fl                      1098
wh                       179
mf                        37
                        ...
other:Export line          1
other:gasline              1
other:gas lift line        1
other: Delivery line       1
Pipeline                   1
Name: Type_of_fa, Length: 75, dtype: int64

___________________________________
       COLUMN:   Cause
==================================

sab    6798
Name: Cause, dtype: int64

___________________________________
       COLUMN:   Site_locat
==================================

18" TEBIDABA/BRASS P/L AT IGBEMATORU                                  41
18'' TEBIDABA/BRASS PIPELINE @ OYEREGBENE                             39
18" TEB/BRASS P/L @ IGBEMATORU                                        38
10'' CLOUGH CREEK/TEBIDABA PIPELINE AT GBARAUN                        28
18'' TEBIDABA/BRASS P/L @ OYEREGBENE                                  19
                                                                      ..
TAYLOR CREEK 1T FLOWLINE @ KALABA                                      1
OBIAFU 28 FLOWLINE FLANGE BY THE GATE VALVE IN THE LOCATION, OMOKU     1
NEW 20" KOLO-CREEK TRUNKLINE AT OKPOROWO                               1
14" OKODIA RUMUEKPE AKARA MINI RISER                                   1
10''SANTA BARBARA-TORA PIPELINE                                        1
Name: Site_locat, Length: 5530, dtype: int64

___________________________________
       COLUMN:   LGA
==================================

Southern-Ijaw          992
Ogba/Egbema/Ndoni      986
Southern Ijaw          560
Ahoada-West            302
Nembe                  258
                      ...
Awelga Rivers state      1
UKWA EAST                1
Emouha                   1
WALGA                    1
Ukwa- west               1
Name: LGA, Length: 154, dtype: int64

___________________________________
       COLUMN:   States_affected
==================================

RI    2985
BY    2602
DE     808
IM     153
AB     138
ED     110
ON       2
Name: States_affected, dtype: int64

___________________________________
       COLUMN:   Spill_area
==================================

sw          2986
la          2914
             397
ss           242
la,ss         87
iw            60
la,sw         30
la,iw         11
ss,la          9
of             9
sw,ss          7
ss,sw          6
ns             5
co             4
other          4
sw,iw          3
sw,la          3
sw,sw          2
la,sw,ss       2
iw,la,ss       1
la,ns,ss       1
la,ns          1
sw,la,ss       1
iw,sw,of       1
ss,iw,la       1
ss,ns          1
ss,iw,sw       1
co,sw          1
ss,la,iw       1
iw,la          1
sw,ns,iw       1
sw,iw,la       1
sw,la,iw       1
ns,la          1
la,sw,iw       1
sw,ss,iw       1
Name: Spill_area, dtype: int64

___________________________________

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6798 entries, 0 to 6797
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                6798 non-null   int64
 1   Company           6798 non-null   object
 2   Incident_date     6798 non-null   object
 3   Days_of_the_Wk    6798 non-null   object
 4   Months_of_the_Yr  6798 non-null   object
 5   Years             6798 non-null   int64
 6   Contaminant       6798 non-null   object
 7   Type_of_fa        6798 non-null   object
 8   Cause             6798 non-null   object
 9   Site_locat        6798 non-null   object
 10  Latitude          6798 non-null   float64
 11  Longitude         6798 non-null   float64
 12  LGA               6798 non-null   object
 13  States_affected   6798 non-null   object
 14  Spill_area        6798 non-null   object
 15  MoY               6798 non-null   int64
 16  DoW               6798 non-null   int64
dtypes: float64(2), int64(4), object(11)
memory usage: 903.0+ KB

In [14]:
data['Incident_date'] = pd.to_datetime(data['Incident_date'], errors='coerce')

dtype('O')